﻿.body {
    font-family: Arial;
    background-color: #FEFEFA;
    font-size: 1em;
    min-width: 100em;
}

#top_nav {
    width: 100%;
    display: block;
    float: left;
    height: 1.6em;
    background-color: #FAFAFA;
    color: #060606;
    font-family: Arial;
    font-size: 1.5em;
    font-weigt: bold;
    text-align: center;
    vert-align: center;
    padding-top: 5px;
}

#page_footer {
    float: right;
    width: 100%;
    height: 100px;
    width: 100%;
    display: block;
    height: 2em;
    background-color: #FAFAFA;
    color: #060606;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    vertical-align:middle;
    padding-top: 5px;
    margin: 0px;
}

#lbody {
    width: 17em;
    display: inline-block;
    background-color: #F9F9F9;    
    height: 85%;
    font-size: 0.8em;
    vertical-align: top;
    overflow: hidden;
    margin: 0px;
}


#rbody {
    height: 83%;
    width: calc(100% - 16em);
    display: inline-block;
    background-color: #FEFFFF;    
    vertical-align: top;
    overflow: hidden;
    height: 85%;
}


select {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: #010101;
}

button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.submit_button {
    border-radius: 8px;
    font-family: "Bitter", serif;
    display: inline-block;
    background-color: aqua;
    display: inline-block;
    font-size: 18pt;
    font-weight:500;
    margin-right: 30pt;
    font-family: Verdana,Vivaldi,'Vladimir Script';
}

    .submit_button:hover {
        font-weight: 700;
        color: blue;
        border:outset 4px grey;
    }

    .submit_button:disabled {
        color: darkgrey;
        background-color: gray;
        border: solid 1px grey;
        cursor: not-allowed;
        font-weight: 500;
    }

        .submit_button:disabled:hover {
            border: solid 1px grey;
            font-weight: 500;
        }

input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

textarea {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

#show_domain_obj {
  display:none;
  visibility:hidden;
}

#ErrorMsg {
    display: none;
    visibility: hidden;
}

h2.noProviderErr  {
  font-size: 3em;
}

#formBlock h3 {
    padding-top: 0.01em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    display: block;
    width: 100%;
    background-color: #E2E2E2;
    margin: 0px;
    border-top: solid silver 3px;
}

#formBlock h3.frmSubHeaders {
    margin-top: 2.5em;    
    display: block;
    width: 100%;
   
}


div.fldBlock {
    margin-top: 0.2em;
}

#fldDispGeopoint {
   display: block;
   color: grey;
   font-family:'Arial Rounded MT';
   text-align: center;   
   padding-left: 0.3em;
   display: inline-block;
   font-size: 0.9em;
   vertical-align: bottom;
   width: 100%;
   margin-top: 15%;
   border-top: solid silver 3px;
}



#search_res {
    overflow-y: scroll;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.2em;
    width: 97%;
    margin-left: 3em;
}

table.prov_results {
    border: 1px solid silver;
    width: 96%;
    border-collapse: collapse;
    text-align: left;
    font-size: 8pt;
    vertical-align: top;
}

    table.prov_results th, td {
        border: 1px solid silver;
        vertical-align: top;
    }

    table.prov_results tr:nth-child(even) {
        background-color: #f2f2f2
    }


div.locstate {
  display: inline-block;
  padding: 0.1em;
}

div.loccity {
    display: inline-block;
    padding: 0.1em;
}

div.loczip {
    display: inline-block;
    padding: 0.1em;
}

td.tbldAddr {
  padding: 0.5em;
  max-width: 15em;
  min-width: 15em;
  width: 15em;
}

td.tbldDoct {
  
  text-align: top;
}

td.tblDist {
  text-align: right;
}

div.locdrNameSpec {
  display: block;
  vertical-align: top;
  padding-bottom: 0.3em;
  padding-left: 0.1em;
}

div.locdrname {
  display: inline-block;
  text-decoration-line:underline;
  text-decoration-color:cornflowerblue;
  width: 55%;
  max-width: 15em;
  font-weight: 600;
  text-align: top;
  vertical-align: top;
}

div.locdrname:hover {
    background-color:#E1E1E9;
}

div.locdrspec {
  display: inline-block;
  width: 44%;
  max-width: 10em;
  text-align: left;
  vertical-align: top;
  font-size: smaller;
  overflow-x: hidden;
  
}

#frmValueSpecialty {
      
} 

#city_search {
    font-size: 4em;
}

#city_search div.state {
  display: block;
  width: 95%;
  vertical-align: top;
  padding-bottom: 2em;
}
#city_search div.statename {
  display: block;
  padding: 5px;
  vertical-align: top;
  background-color: aliceblue;
  width: 100%;


}

#city_search div.city {
  display: block;
  min-width: 20em;
  margin-left: 3em;

}

#city_search div.cityname {
  display: block;
  font-weight: 600;
}

#city_search div.zips {
  display: block;
  min-width: 15em;
  padding-left: 1em;
  max-width:  45em;
  //border: solid red 1px;
}

#city_search div.zip {
  padding-left: 1em;
  
  display: inline-block;
  text-decoration: underline;
  text-decoration-color:dimgrey;
}

    #city_search div.zip:hover {
      font-weight: 700;
    }

div.locdrdetail {
    display:none;
    visibility: hidden;
}

div.prov_details {
     display:block;
     width:90%;
     border:groove 2px #FAFAAA;
     margin-left: 2em;
     margin-right: 0em;
}

div.pdetgroup {
    display: inline-block;
    width: 95%;
    min-width: 13em;
}

div.pdetlabel {
    display: inline-block;
    font-weight: 400;
    min-width: 10em;
    padding-left: 1em;
}

div.pdetdata{
    display: inline-block;
    font-weight: 600;
    min-width: 14pt;
    padding: 0.5em;
    width: 55%;
}
